<nav class="navbar">

  <img class="logo" src="https://static1.squarespace.com/static/5b84766696e76fc132653a2a/t/5f972fe90af80e2132d1778b/1605405784222/?format=1500w" alt = "ParentTech logo">
  <img src="/images/Parenthood_ventures_logo2.jpg" alt="jpeg logo">

  <div class='about'>
    <form class="form-inline" action="/views/about.ejs" user %>" method="GET">
      <button type="submit" value="submit">MY RESOURCES</button>
    </form>
  </div>

</nav>
