<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
</head>
<body>
  <nav class="navbar">

    <!-- <img class="logo" src="https://static1.squarespace.com/static/5b84766696e76fc132653a2a/t/5f972fe90af80e2132d1778b/1605405784222/?format=1500w" alt = "ParentTech logo"> -->
    <img src="/images/Parenthood_ventures_logo (1).png" alt="jpeg logo">

    <div class='navbutton'>
      <form class="form-inline" action="/about" >
        <button type="submit" value="submit">about</button>
      </form>
    </div>

    <div class='navbutton'>
      <form class="form-inline" action="/" >
        <button type="submit" value="submit">home</button>
      </form>
    </div>

    <div class='navbutton'>
      <form class="form-inline" action="/directory" >
        <button type="submit" value="submit">the directory</button>
      </form>
    </div>

    <div class='navbutton'>
      <form class="form-inline" action="/joinus" >
        <button type="submit" value="submit">join us</button>
      </form>
    </div>

  </nav>

</body>
</html>

