<!-- survey
 whether the person is with a startup interested in an incubator
 whether they're another person interested in the space for another reason (e.g they would just like to read the newsletter/join events / parent interested in hearing about the latest ParentTech products and services) -->


 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>parenthood ventures</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <%- include('partials/nav') %>
  </head>

  <body>

    <h1>The Directory.</h1>

    <div>
      <p>Click —> <a href="https://forms.gle/oCyvUGieds6QBNsXA">here</a> <— to access and (contribute to!) our ParentTech directory</p>
    </div>
  </body>
</html>
